<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-normal">Listado de Divisiones - Escuela 775</h2>
    <a [routerLink]="['/divisiones', 'new']" class="btn btn-primary border border-dark rounded-0">
      Nueva División
    </a>
  </div>

  <table class="table table-bordered border-dark border-2 shadow-sm">
    <thead class="table-light border-dark">
      <tr>
        <th class="border-dark">Año</th>
        <th class="border-dark">División</th>
        <th class="border-dark">Orientación</th>
        <th class="border-dark">Turno</th>
        <th class="text-center border-dark">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of resultsPage.content" class="align-middle">
        <td class="border-dark">{{ d.anio }}°</td>
        <td class="border-dark">{{ d.numDivision }}ra</td>
        <td class="border-dark">{{ d.orientacion }}</td>
        <td class="border-dark">{{ d.turno }}</td>
        <td class="text-center border-dark">
          <a [routerLink]="['/divisiones', d.id]" class="text-warning fs-5 me-3" title="Editar">
            <i class="fa-solid fa-pencil"></i>
          </a>
          <a (click)="remove(d.id)" class="text-danger fs-5" style="cursor: pointer;" title="Borrar">
            <i class="fa-solid fa-trash-can"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mt-4">
    <app-pagination
      [totalPages]="resultsPage.totalPages"
      [currentPage]="currentPage"
      [number]="resultsPage.number"
      (pageChangeResquest)="onPageChangeRequested($event)"
      [hidden]="resultsPage.totalElements < 1"
    ></app-pagination>
  </div>
</div>